@use '~styles/breakpoints.module';
@use '~styles/colors.module';
@use '~styles/functions';
@use '~styles/mixins';

.root {
  background: currentColor;
  color: colors.$sea;
  border-radius: functions.spacing(2);
  font-weight: bold;
  padding: functions.spacing(2) functions.spacing(4);
  text-decoration: none;

  &:hover,
  &:active,
  &:focus,
  a[href]:hover & {
    outline: 2px dashed currentColor;
    outline-offset: 0.25em;
  }

  .content {
    color: colors.$black;
  }
}

.primary {
  color: colors.$sundown;
}

.secondary {
  color: colors.$sunglow;
}

.tertiary {
  color: colors.$land;
}
