@use '~@newhighsco/chipset/styles/mixins/grid';
@use '~styles/breakpoints.module';
@use '~styles/functions';
@use '~styles/mixins';
@include grid.gutter('', functions.spacing(2));
@include grid.flex;
@include grid.valign(middle);
@include grid.widths('', 2);

@include mixins.mq(breakpoints.$tablet) {
  @include grid.widths('tablet', 3);
}
