$black: #000;
$white: #fff;
$space: #113058;
$sky: #ceeffd;
$sea: #2c76d8;
$land: #85e79e;
$sundown: #fca3a5;
$sunglow: #ffc600;

:export {
  black: $black;
  white: $white;
  space: $space;
  sky: $sky;
  sea: $sea;
  land: $land;
  sundown: $sundown;
  sunglow: $sunglow;
}
