$black: #000;
$white: #fff;
$sky: #d0fff9;
$sea: #2c76d7;
$sundown: #eda7a7;
$sunglow: #fdc740;

:export {
  black: $black;
  white: $white;
  sky: $sky;
  sea: $sea;
  sundown: $sundown;
  sunglow: $sunglow;
}
