$black: #000;
$white: #fff;
$space: #113058;
$sky: #cefef8;
$sea: #2c76d8;
$land: #9ce4a3;
$sundown: #eea7a7;
$sunglow: #fec740;

:export {
  black: $black;
  white: $white;
  space: $space;
  sky: $sky;
  sea: $sea;
  land: $land;
  sundown: $sundown;
  sunglow: $sunglow;
}
