@use '~styles/fonts.module';

@font-face {
  font-display: swap;
  font-family: fonts.$cera-round-pro;
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/cera-round-pro/regular.woff') format('woff');
}
