// Font families
$cera-round-pro: 'Cera Round Pro';

// Font stacks
/* stylelint-disable value-keyword-case */
$stack-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
/* stylelint-enable value-keyword-case */

// Font aliases
$body: $cera-round-pro, $stack-system;
$heading: $body;

:export {
  body: $body;
  heading: $heading;
}
