@use '~styles/colors.module';
@use '~styles/functions';

.root {
  color: colors.$sea;
  text-align: center;
  border-radius: functions.spacing(2);

  &[role='link']:hover {
    outline: 2px dashed currentColor;
    outline-offset: 0.25em;
  }
}

.heading {
  button {
    border-radius: unset;
    outline: unset;
    width: 100%;
  }
}
