@use '~styles/colors.module';
@use '~styles/functions';

.root {
  background: colors.$white;
  border-radius: functions.spacing(2);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backdrop {
  background-size: inherit;
  opacity: 0.125;
}
