@use '~styles/colors.module';
@use '~styles/functions';

.root {
  background: colors.$white;

  // border: 3px solid colors.$space;
  border-radius: functions.spacing(2);
}

.backdrop {
  background-size: inherit;
  opacity: 0.1;
}
