@use '~styles/breakpoints.module';
@use '~styles/colors.module';
@use '~styles/functions';
@use '~styles/mixins';

.root {
  background: colors.$white;
  border-radius: 0 0 functions.spacing(4) functions.spacing(4);

  @include mixins.mq(breakpoints.$tablet) {
    border-radius: 0 0 functions.spacing(6) functions.spacing(6);
  }
}
