@use '~styles/breakpoints.module';
@use '~styles/colors.module';
@use '~styles/functions';
@use '~styles/mixins';

.root {
  background: colors.$white;
  border-radius: functions.spacing(3);

  @include mixins.mq(breakpoints.$tablet) {
    border-radius: functions.spacing(6);
  }
}
