@use '~styles/colors.module';
@use '~styles/functions';

.root {
  border-top: 1px solid colors.$white;
}

.link {
  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}

.icon {
  fill: currentColor;
  width: functions.spacing(4);
}
