@use '~styles/breakpoints.module';
@use '~styles/functions';
@use '~styles/mixins';

.root {
  padding: functions.spacing(2);
  padding-top: 0;
  position: relative;

  @include mixins.mq(breakpoints.$tablet) {
    padding: functions.spacing(4);
    padding-top: 0;
  }
}
