@use '~styles/breakpoints.module';
@use '~styles/functions';
@use '~styles/mixins';

.root {
  padding-inline: functions.spacing(2);
  position: relative;

  @include mixins.mq(breakpoints.$tablet) {
    padding-inline: functions.spacing(4);
  }
}
